<h1 class="main-char"><%= @main_character.name %></h1>


<img class="main-char" src="<%= @main_character.pic  %>" alt="">

<h1 class="main-subtitle">
	<%= @main_character.bio %>
</h1>

<a href="/" class="footer" id="home">Home</a>
<a href="/maincharacters/<%= @main_character.id %>/edit" class="footer" id="update">Update</a>

<a href="/maincharacters/<%= @main_character.id %>/destroy" class="footer" id="destroy">Remove</a>